package main

import (
	"log"
	"os"

	"context"
	"go_gin_server/{{apiPath}}"

	"github.com/joho/godotenv"
)


func main() {
	err := godotenv.Load("../.env")
	if err != nil {
		log.Fatal("Error loading .env file")
	}

	port := os.Getenv("GIN_SERVER_PORT")
	if port == "" {
		port = "8080" // Default port if not specified
	}
	openapi.ConnectToDB()
	routes := openapi.ApiHandleFunctions{}

	log.Printf("Server started on port %s", port)

	router := openapi.NewRouter(routes)

	log.Fatal(router.Run(":" + port))
	defer openapi.Db.Close(context.Background())
}
