package main

import (
	"log"
	"go_gin_server/go"
)

func main() {
	routes := openapi.ApiHandleFunctions{}

	log.Printf("Server started")

	router := openapi.NewRouter(routes)

	log.Fatal(router.Run(":8080"))
}
